{% extends 'base.html' %}

{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="container">
    <div class="row">
        <form action="/hotel/{{ hotel.path }}/{{ room.id }}/" class="col-md-6 mx-auto mt-5" method="POST">
            <h3>Бронирование</h3>
            <hr>
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }} rounded alert-dismissible text-center my-4 py-2" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}

                    </div>
                {% endfor %}
            {% endif %}

            {% for error in form.errors %}
            <div class="alert-danger alert-dismissible rounded text-center my-4 py-2" role="alert">

                {% if error == 'date_from' %}
                    {{form.date_from.errors.0}} 
                {% elif error == 'date_to' %}
                    {{form.date_to.errors.0}}
                {% endif %}

            </div>
            {% endfor %}

            {{ form }}
        
            <div class="form-group">
                <label class="form-label">{{ hotel.name }}</label><br/>
                <label class="form-label">{{ hotel.address }}</label>
            </div>

            <div class="form-group">
                <label class="form-label">{{ room }}</label>
                <input type="hidden" name='room_id' value="{{ room.id }}">
            </div>

            <button type="submit" class="btn btn-block btn-outline-info">Submit</button>
        </form>
    </div>
</div>


{% endblock %}
